<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body class="bg-cream max-h-screen">
    <div class=" mt-15 pt-12 lg:text-7xl w-screen font-black text-primary flex justify-center items-center
       text-4xl ">
      <div class="flex flex-col items-center">
        <div> URL Shortener</div> 
        <div class="text-lg font-thin lg:text-xl">Make your URL's shorter</div>
       </div>
    </div>

<div class="flex justify-center mt-16 pt-16 font-semibold text-xl lg:text-3xl text-primary font-cairo ">
   Here's your shortened URL
</div>
<div  class="lg:pt-4 flex justify-center font-cairo font-medium lg:font-semibold lg:text-xl ">
    <a class="no-underline shadow-link" href="http://<%= data %>"><%= data %></a>

</div>
<div class="flex justify-center pt-8">
  <form action="https://7jp3ho.deta.dev/home">
<button class="flex justify-center items-center mt-4
rounded-lg lg:text-xl bg-org text-primary p-3 lg:p-5 font-bold">Home</button>
</form></div>   
    
   


    
</body>
</html>